In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [79]:
pd.options.display.max_columns = None

In [80]:
movies = pd.read_csv('desktop/Movie Recommender System/movie_data/TMDB_all_movies.csv')

In [81]:
movies.head(2)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,budget,imdb_id,original_language,original_title,overview,popularity,tagline,genres,production_companies,production_countries,spoken_languages,cast,director,director_of_photography,writers,producers,music_composer
0,2,Ariel,7.1,318.0,Released,1988-10-21,0.0,73.0,0.0,tt0094675,fi,Ariel,After the coal mine he works at closes and his...,16.788,NaN,"Drama, Comedy, Romance, Crime",Villealfa Filmproductions,Finland,suomi,"Kari Helaseppä, Susanna Haavisto, Hannu Kivisa...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Aki Kaurismäki,NaN
1,3,Shadows in Paradise,7.3,360.0,Released,1986-10-17,0.0,74.0,0.0,tt0092149,fi,Varjoja paratiisissa,"Nikander, a rubbish collector and would-be ent...",32.465,NaN,"Drama, Comedy, Romance",Villealfa Filmproductions,Finland,"suomi, English, svenska","Helmeri Pellonpää, Tanja Talaskivi, Esko Nikka...",Aki Kaurismäki,Timo Salminen,Aki Kaurismäki,Mika Kaurismäki,NaN

In [82]:
movies.iloc[1]

id                                                                         3
title                                                    Shadows in Paradise
vote_average                                                             7.3
vote_count                                                             360.0
status                                                              Released
release_date                                                      1986-10-17
revenue                                                                  0.0
runtime                                                                 74.0
budget                                                                   0.0
imdb_id                                                            tt0092149
original_language                                                         fi
original_title                                          Varjoja paratiisissa
overview                   Nikander, a rubbish collector and would-be ent...
popularity                                                            32.465
tagline                                                                  NaN
genres                                                Drama, Comedy, Romance
production_companies                               Villealfa Filmproductions
production_countries                                                 Finland
spoken_languages                                     suomi, English, svenska
cast                       Helmeri Pellonpää, Tanja Talaskivi, Esko Nikka...
director                                                      Aki Kaurismäki
director_of_photography                                        Timo Salminen
writers                                                       Aki Kaurismäki
producers                                                    Mika Kaurismäki
music_composer                                                           NaN
Name: 1, dtype: object

In [83]:
movies.shape # movies columns and raws

(952877, 25)

In [84]:
## movies['original_language'].value_counts()

In [85]:
# tr_titles = df.loc[df['original_language'] == 'tr', 'original_title']  ## orijinal dili tr olan satırların orijinal title sütunu çekmek
# tr_titles

# Tablodan Gereksiz Sütunları Atmak

In [86]:
movies.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'budget', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'cast', 'director', 'director_of_photography', 'writers', 'producers',
       'music_composer'],
      dtype='object')

In [87]:
### Gereksiz Sütunlar : status , runtime , popularity , release_date , revenue, budget,

In [88]:
new_movies = movies[['imdb_id','title','overview','genres','cast','director','writers','tagline','production_companies']] # öneri için gerekli özellikler çekildi

In [89]:
new_movies.head(2)

,imdb_id,title,overview,genres,cast,director,writers,tagline,production_companies
0,tt0094675,Ariel,After the coal mine he works at closes and his...,"Drama, Comedy, Romance, Crime","Kari Helaseppä, Susanna Haavisto, Hannu Kivisa...",Aki Kaurismäki,Aki Kaurismäki,NaN,Villealfa Filmproductions
1,tt0092149,Shadows in Paradise,"Nikander, a rubbish collector and would-be ent...","Drama, Comedy, Romance","Helmeri Pellonpää, Tanja Talaskivi, Esko Nikka...",Aki Kaurismäki,Aki Kaurismäki,NaN,Villealfa Filmproductions

In [90]:
new_movies.shape

(952877, 9)

In [91]:
new_movies.isnull().sum()

imdb_id                 384049
title                        7
overview                159763
genres                  273900
cast                    312205
director                165432
writers                 491287
tagline                 811685
production_companies    511818
dtype: int64

# Boş (Null) verileri doldurmak

In [92]:
new_movies.dropna(subset=['title'], inplace=True)

C:\Users\fbdog\AppData\Local\Temp\ipykernel_10376\1555540785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies.dropna(subset=['title'], inplace=True)

In [93]:
new_movies.isnull().sum()

imdb_id                 384042
title                        0
overview                159760
genres                  273896
cast                    312201
director                165429
writers                 491282
tagline                 811679
production_companies    511811
dtype: int64

In [94]:
new_movies.shape

(952870, 9)

# !!! Burayı pc hafızası yetmediği için geçiçi süreliğine verilerin bi kısmını atıp kontrol etmek için uyguladım
Tekrar atılan verileri geri getirebilirim

In [95]:
num_rows_to_drop = 945000

new_movies = new_movies.iloc[:-num_rows_to_drop]
new_movies.shape
new_movies = new_movies.sort_values(by='title')

In [96]:
new_movies['overview'].fillna('No overview available', inplace=True)
new_movies['genres'].fillna('Unknown', inplace=True)
new_movies['cast'].fillna('Unknown', inplace=True)
new_movies['director'].fillna('Unknown', inplace=True)
new_movies['writers'].fillna('Unknown', inplace=True)
new_movies['production_companies'].fillna('Unknown', inplace=True)
new_movies['tagline'].fillna('No tagline', inplace=True)

new_movies['imdb_id'].fillna('Unknown', inplace=True) ## SONRADAN IMBD SÜTUNU SİLİNEBİLİR.ÇÜNKÜ ID'YE GÖRE SİTEDEN VERİ ÇEKİLECEK

C:\Users\fbdog\AppData\Local\Temp\ipykernel_10376\136150276.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_movies['overview'].fillna('No overview available', inplace=True)
C:\Users\fbdog\AppData\Local\Temp\ipykernel_10376\136150276.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_movies['genres'].fillna('Unknown', inplace=True)
C:\Users\fbdog\AppData\Local\Temp\ipykernel_10376\136150276.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_movies['cast'].fillna('Unknown', inplace=True)
C:\Users\fbdog\AppData\Local\Temp\ipykernel_10376\136150276.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_movies['director'].fillna('Unknown', inplace=True)
C:\Users\fbdog\AppData\Local\Temp\ipykernel_10376\136150276.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_movies['writers'].fillna('Unknown', inplace=True)
C:\Users\fbdog\AppData\Local\Temp\ipykernel_10376\136150276.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_movies['production_companies'].fillna('Unknown', inplace=True)
C:\Users\fbdog\AppData\Local\Temp\ipykernel_10376\136150276.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_movies['tagline'].fillna('No tagline', inplace=True)
C:\Users\fbdog\AppData\Local\Temp\ipykernel_10376\136150276.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  new_movies['imdb_id'].fillna('Unknown', inplace=True) ## SONRADAN IMBD SÜTUNU SİLİNEBİLİR.ÇÜNKÜ ID'YE GÖRE SİTEDEN VERİ ÇEKİLECEK

In [97]:
new_movies.isnull().sum()

imdb_id                 0
title                   0
overview                0
genres                  0
cast                    0
director                0
writers                 0
tagline                 0
production_companies    0
dtype: int64

## Cümle şeklindeki verileri listeye atma

In [98]:
new_movies.iloc[6]['overview']

'The funny clown Bratislav Metulskie is found dead in circus "Apollo". The retired commissioner 00 Schneider is asked to assume control of the case. Schneider and his aged sidekick Körschgen investigate to find the murderer.'

In [99]:
new_movies['overview'] = new_movies['overview'].apply(lambda x:x.split())
new_movies['tagline'] = new_movies['tagline'].apply(lambda x:x.split())
new_movies['genres'] = new_movies['genres'].apply(lambda x:x.split(','))
new_movies['cast'] = new_movies['cast'].apply(lambda x:x.split(','))
new_movies['director'] = new_movies['director'].apply(lambda x:x.split(','))
new_movies['writers'] = new_movies['writers'].apply(lambda x:x.split(','))
new_movies['production_companies'] = new_movies['production_companies'].apply(lambda x:x.split(','))

new_movies.head()

,imdb_id,title,overview,genres,cast,director,writers,tagline,production_companies
2428,tt1024733,$5 a Day,"[After, being, released, from, jail,, the, son...","[Drama, Comedy]","[Beth Bailey, Luis Ávalos, Bridget White, S...",[Nigel Cole],"[Neal H. Dobrofsky, Tippi Dobrofsky]","[Relationships, don't, come, cheap!]","[Capitol Films, Carol Baum Productions, Gold..."
4967,tt0349047,(T)Raumschiff Surprise - Periode 1,"[Hundreds, of, years, after, humans, have, set...","[Comedy, Science Fiction]","[Heidrun Bartholomäus, Olaf Danner, Anja Kli...",[Michael Herbig],"[Rick Kavanian, Alfons Biedermann, Michael H...","[No, tagline]","[herbX Film, Constantin Film]"
6524,tt0092494,*batteries not included,"[In, a, soon, to, be, demolished, block, of, a...","[Family, Comedy, Fantasy, Science Fiction]","[John DiSanti, Dennis Boutsikaris, David Vas...",[Matthew Robbins],"[Brent Maddock, Mick Garris, S.S. Wilson, B...","[Five, ordinary, people, needed, a, miracle., ...","[Amblin Entertainment, Universal Pictures]"
4097,tt0049189,...And God Created Woman,"[Juliette, Hardy, is, sexual, dynamite,, and, ...","[Drama, Romance]","[Jane Marken, Jean Lefebvre, Jean Tissier, ...",[Roger Vadim],"[Raoul Lévy, Roger Vadim]","[...but, the, devil, invented, Brigitte, Bardot!]","[Iéna Productions, Cocinor, Crow Productions]"
1543,tt0055716,...And Your Love Too,"[On, August, 13th,, 1961, -, the, night, that,...","[Drama, Romance]","[Kati Székely, Maria Besendahl, Katharina Li...",[Frank Vogel],"[Willi Brückner, Paul Wiens]","[No, tagline]",[DEFA]

## Oluşan Listelerdeki isimlerin arasındaki boşlukları silme

In [100]:
#Aki Kaurismaki
#AkiKaurismaki

def remove_inner_spaces(lst):
    return [word.replace(' ', '') for word in lst]

new_movies.loc[:, 'cast'] = new_movies['cast'].apply(remove_inner_spaces)
new_movies.loc[:, 'director'] = new_movies['director'].apply(remove_inner_spaces)
new_movies.loc[:, 'writers'] = new_movies['writers'].apply(remove_inner_spaces)
new_movies.loc[:, 'genres'] = new_movies['genres'].apply(remove_inner_spaces)
new_movies.loc[:, 'production_companies'] = new_movies['production_companies'].apply(remove_inner_spaces)

new_movies.iloc[2]['cast']

['JohnDiSanti',
 'DennisBoutsikaris',
 'DavidVasquez',
 'CharlesRaymond',
 'MacIntyreDixon',
 'HumeCronyn',
 'JoeHamer',
 'WendySchaal',
 'JudyGrafe',
 'JonImparato',
 'DickMartinsen',
 'TomAldredge',
 'SusanShoffner',
 'JohnArceri',
 'JamesLeGros',
 'AliceBeardsley',
 'JoséAngelSantana',
 'DorisBelack',
 'MichaelGreene',
 'ShellyKurtz',
 'FrankMcRae',
 'JaneHoffman',
 'JessicaTandy',
 'JohnPankow',
 'H.ClayDear',
 'ElizabethPeña',
 'RonaldL.Schwary',
 'MichaelCarmine',
 'RikiColon',
 'HowardRenensland']

# Oluşan Listeleri "Tags" adlı yeni sütuna atmak

In [101]:
new_movies['tags'] = new_movies['overview']+new_movies['genres']+new_movies['cast']+new_movies['director']+new_movies['writers']+new_movies['tagline']+new_movies['production_companies']

In [102]:
new_movies.head()

,imdb_id,title,overview,genres,cast,director,writers,tagline,production_companies,tags
2428,tt1024733,$5 a Day,"[After, being, released, from, jail,, the, son...","[Drama, Comedy]","[BethBailey, LuisÁvalos, BridgetWhite, SharonS...",[NigelCole],"[NealH.Dobrofsky, TippiDobrofsky]","[Relationships, don't, come, cheap!]","[CapitolFilms, CarolBaumProductions, Goldenrin...","[After, being, released, from, jail,, the, son..."
4967,tt0349047,(T)Raumschiff Surprise - Periode 1,"[Hundreds, of, years, after, humans, have, set...","[Comedy, ScienceFiction]","[HeidrunBartholomäus, OlafDanner, AnjaKling, R...",[MichaelHerbig],"[RickKavanian, AlfonsBiedermann, MichaelHerbig]","[No, tagline]","[herbXFilm, ConstantinFilm]","[Hundreds, of, years, after, humans, have, set..."
6524,tt0092494,*batteries not included,"[In, a, soon, to, be, demolished, block, of, a...","[Family, Comedy, Fantasy, ScienceFiction]","[JohnDiSanti, DennisBoutsikaris, DavidVasquez,...",[MatthewRobbins],"[BrentMaddock, MickGarris, S.S.Wilson, BradBir...","[Five, ordinary, people, needed, a, miracle., ...","[AmblinEntertainment, UniversalPictures]","[In, a, soon, to, be, demolished, block, of, a..."
4097,tt0049189,...And God Created Woman,"[Juliette, Hardy, is, sexual, dynamite,, and, ...","[Drama, Romance]","[JaneMarken, JeanLefebvre, JeanTissier, Carlos...",[RogerVadim],"[RaoulLévy, RogerVadim]","[...but, the, devil, invented, Brigitte, Bardot!]","[IénaProductions, Cocinor, CrowProductions]","[Juliette, Hardy, is, sexual, dynamite,, and, ..."
1543,tt0055716,...And Your Love Too,"[On, August, 13th,, 1961, -, the, night, that,...","[Drama, Romance]","[KatiSzékely, MariaBesendahl, KatharinaLind, B...",[FrankVogel],"[WilliBrückner, PaulWiens]","[No, tagline]",[DEFA],"[On, August, 13th,, 1961, -, the, night, that,..."

In [103]:
new_movies.iloc[2]['tags']

['In',
 'a',
 'soon',
 'to',
 'be',
 'demolished',
 'block',
 'of',
 'apartments,',
 'the',
 'residents',
 'resist',
 'the',
 'criminal',
 'methods',
 'used',
 'to',
 'force',
 'them',
 'to',
 'leave',
 'so',
 'a',
 'greedy',
 'tycoon',
 'can',
 'build',
 'his',
 'new',
 'skyscraper.',
 'When',
 'tiny',
 'mechanical',
 'aliens',
 'land',
 'for',
 'a',
 'recharge,',
 'they',
 'decide',
 'to',
 'stay',
 'and',
 'help',
 'out.',
 'Family',
 'Comedy',
 'Fantasy',
 'ScienceFiction',
 'JohnDiSanti',
 'DennisBoutsikaris',
 'DavidVasquez',
 'CharlesRaymond',
 'MacIntyreDixon',
 'HumeCronyn',
 'JoeHamer',
 'WendySchaal',
 'JudyGrafe',
 'JonImparato',
 'DickMartinsen',
 'TomAldredge',
 'SusanShoffner',
 'JohnArceri',
 'JamesLeGros',
 'AliceBeardsley',
 'JoséAngelSantana',
 'DorisBelack',
 'MichaelGreene',
 'ShellyKurtz',
 'FrankMcRae',
 'JaneHoffman',
 'JessicaTandy',
 'JohnPankow',
 'H.ClayDear',
 'ElizabethPeña',
 'RonaldL.Schwary',
 'MichaelCarmine',
 'RikiColon',
 'HowardRenensland',
 'MatthewRobbins',
 'BrentMaddock',
 'MickGarris',
 'S.S.Wilson',
 'BradBird',
 'MatthewRobbins',
 'Five',
 'ordinary',
 'people',
 'needed',
 'a',
 'miracle.',
 'Then',
 'one',
 'night,',
 'Faye',
 'Riley',
 'left',
 'the',
 'window',
 'open.',
 'AmblinEntertainment',
 'UniversalPictures']

## Güncel DataFramei oluşturmak

In [104]:
new_df = new_movies[['imdb_id','title','tags']]

In [105]:
new_df.head()

,imdb_id,title,tags
2428,tt1024733,$5 a Day,"[After, being, released, from, jail,, the, son..."
4967,tt0349047,(T)Raumschiff Surprise - Periode 1,"[Hundreds, of, years, after, humans, have, set..."
6524,tt0092494,*batteries not included,"[In, a, soon, to, be, demolished, block, of, a..."
4097,tt0049189,...And God Created Woman,"[Juliette, Hardy, is, sexual, dynamite,, and, ..."
1543,tt0055716,...And Your Love Too,"[On, August, 13th,, 1961, -, the, night, that,..."

### tags satırındaki listeyi tek bir cümle haline getirmek

In [106]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()

C:\Users\fbdog\AppData\Local\Temp\ipykernel_10376\1955922539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

,imdb_id,title,tags
2428,tt1024733,$5 a Day,"After being released from jail, the son of a c..."
4967,tt0349047,(T)Raumschiff Surprise - Periode 1,Hundreds of years after humans have settled on...
6524,tt0092494,*batteries not included,In a soon to be demolished block of apartments...
4097,tt0049189,...And God Created Woman,"Juliette Hardy is sexual dynamite, and has the..."
1543,tt0055716,...And Your Love Too,"On August 13th, 1961 - the night that the Berl..."

In [107]:
new_df.iloc[2]['tags']

'In a soon to be demolished block of apartments, the residents resist the criminal methods used to force them to leave so a greedy tycoon can build his new skyscraper. When tiny mechanical aliens land for a recharge, they decide to stay and help out. Family Comedy Fantasy ScienceFiction JohnDiSanti DennisBoutsikaris DavidVasquez CharlesRaymond MacIntyreDixon HumeCronyn JoeHamer WendySchaal JudyGrafe JonImparato DickMartinsen TomAldredge SusanShoffner JohnArceri JamesLeGros AliceBeardsley JoséAngelSantana DorisBelack MichaelGreene ShellyKurtz FrankMcRae JaneHoffman JessicaTandy JohnPankow H.ClayDear ElizabethPeña RonaldL.Schwary MichaelCarmine RikiColon HowardRenensland MatthewRobbins BrentMaddock MickGarris S.S.Wilson BradBird MatthewRobbins Five ordinary people needed a miracle. Then one night, Faye Riley left the window open. AmblinEntertainment UniversalPictures'

## Büyük küçük harf çatışmasını önlemek

In [108]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())
new_df.head()

C:\Users\fbdog\AppData\Local\Temp\ipykernel_10376\883946691.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

,imdb_id,title,tags
2428,tt1024733,$5 a Day,"after being released from jail, the son of a c..."
4967,tt0349047,(T)Raumschiff Surprise - Periode 1,hundreds of years after humans have settled on...
6524,tt0092494,*batteries not included,in a soon to be demolished block of apartments...
4097,tt0049189,...And God Created Woman,"juliette hardy is sexual dynamite, and has the..."
1543,tt0055716,...And Your Love Too,"on august 13th, 1961 - the night that the berl..."

In [109]:
new_df.iloc[2]['tags']

'in a soon to be demolished block of apartments, the residents resist the criminal methods used to force them to leave so a greedy tycoon can build his new skyscraper. when tiny mechanical aliens land for a recharge, they decide to stay and help out. family comedy fantasy sciencefiction johndisanti dennisboutsikaris davidvasquez charlesraymond macintyredixon humecronyn joehamer wendyschaal judygrafe jonimparato dickmartinsen tomaldredge susanshoffner johnarceri jameslegros alicebeardsley joséangelsantana dorisbelack michaelgreene shellykurtz frankmcrae janehoffman jessicatandy johnpankow h.claydear elizabethpeña ronaldl.schwary michaelcarmine rikicolon howardrenensland matthewrobbins brentmaddock mickgarris s.s.wilson bradbird matthewrobbins five ordinary people needed a miracle. then one night, faye riley left the window open. amblinentertainment universalpictures'

# ~New Chapter: Generating Embeddings

### Stemming

In [110]:
import nltk
from nltk.stem import PorterStemmer

In [111]:
ps = PorterStemmer()

In [112]:
def stems(text):
    l = []
    for i in text.split():
        l.append(ps.stem(i))

    return " ".join(l)

In [113]:
new_df['tags'] = new_df['tags'].apply(stems)

C:\Users\fbdog\AppData\Local\Temp\ipykernel_10376\3973021881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

In [114]:
new_df.iloc[2]['tags']

'in a soon to be demolish block of apartments, the resid resist the crimin method use to forc them to leav so a greedi tycoon can build hi new skyscraper. when tini mechan alien land for a recharge, they decid to stay and help out. famili comedi fantasi sciencefict johndisanti dennisboutsikari davidvasquez charlesraymond macintyredixon humecronyn joeham wendyscha judygraf jonimparato dickmartinsen tomaldredg susanshoffn johnarceri jameslegro alicebeardsley joséangelsantana dorisbelack michaelgreen shellykurtz frankmcra janehoffman jessicatandi johnpankow h.claydear elizabethpeña ronaldl.schwari michaelcarmin rikicolon howardrenensland matthewrobbin brentmaddock mickgarri s.s.wilson bradbird matthewrobbin five ordinari peopl need a miracle. then one night, fay riley left the window open. amblinentertain universalpictur'

# Count Vectorizer

Metin verilerini sayısal verilere dönüştürmek için kullanılan bir araçtır. Doğal dil işleme (NLP) ve metin madenciliği alanında yaygın olarak kullanılır. CountVectorizer, bir metin kümesini kelime sayımlarına dayalı olarak vektörler halinde temsil eder. Bu, makine öğrenmesi algoritmalarının metin verileri üzerinde çalışmasına olanak tanır.

In [115]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features =5000, stop_words='english')

In [116]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [117]:
vector.shape

(7870, 5000)

## Cosine Similarity

In [118]:
from sklearn.metrics.pairwise import cosine_similarity

In [119]:
sim = cosine_similarity(vector)

In [120]:
sim.shape

(7870, 7870)

In [121]:
new_df[new_df['title'] == 'Spider-Man'].index[0]

434

## Benzerlik ölçümü

In [132]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(sim[index])), reverse=True, key=lambda x: x[1])

    recommended_movies = []
    similarity_scores = []
    for i in distances[1:6]:
        recommended_movies.append(new_df.iloc[i[0]].title)
        similarity_scores.append(i[1])

    return recommended_movies, similarity_scores

recommended_movies, similarity_scores = recommend("Shine")

print("\nBenzerlik oranları:")
for i in range(len(recommended_movies)):
    print(f"{recommended_movies[i]}: {similarity_scores[i]}")

Benzerlik oranları:
Jarhead: 0.34594920301083193
The Good German: 0.32596012026013244
Punisher: War Zone: 0.31492193346260305
Objective: 500 Million: 0.31378581622109447
Marooned in Iraq: 0.31237900883588565

In [139]:
def recommend2(movie, num_recommendations=5):
    try:
        index = new_df[new_df['title'] == movie].index[0]
    except IndexError:
        print(f"Movie '{movie}' not found in the dataset.")
        return None

    distances = sorted(list(enumerate(sim[index])), reverse=True, key=lambda x: x[1])
    recommendations = [new_df.iloc[i[0]].title for i in distances[1:num_recommendations + 1]]
    return recommendations

ground_truth = ["Jarhead", "The Good German", "Punisher: War Zone", "Objective: 500 Million", "Marooned in Iraq"]
recommendations = recommend2("Shine")

if recommendations is None:
    print("No recommendations found, exiting.")
else:
    def dcg_at_k(recommendations, ground_truth, k):
        dcg = 0.0
        for i in range(min(k, len(recommendations))):
            if recommendations[i] in ground_truth:
                dcg += 1.0 / np.log2(i + 2)  # log2(i+2) because index starts at 0
        return dcg

    def idcg_at_k(ground_truth, k):
        idcg = 0.0
        for i in range(min(k, len(ground_truth))):
            idcg += 1.0 / np.log2(i + 2)
        return idcg

    def ndcg_at_k(recommendations, ground_truth, k):
        dcg = dcg_at_k(recommendations, ground_truth, k)
        idcg = idcg_at_k(ground_truth, k)
        if idcg == 0:
            return 0.0
        return dcg / idcg
 
    k = 5
    ndcg_score = ndcg_at_k(recommendations, ground_truth, k)
    print(f"NDCG@{k}: {ndcg_score}")

NDCG@5: 1.0

In [124]:
import pickle

pickle.dump(new_df,open('desktop/Movie Recommender System/artificats/movie_list.pkl', 'wb'))
pickle.dump(sim,open('desktop/Movie Recommender System/artificats/similarity.pkl', 'wb'))